

<div class="container-fluid">
  <div class="card">
    <div class="card-header pt-0 pb-0" style="background: #E1E5E9;">
      <h3 class="card-title">Master Depot</h3>
    </div>
    <div class="card-body">
      <div class="col-12 text-end">
        <button (click)="openModal()" class="btn btn-primary btn-sm">Add New Depot</button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Head Office Name</label>
            <select class="form-select" (change)="getZoneByHeadOfficeId($event)" [(ngModel)]="searchHeadOffice">
              <option selected disabled value=null>Select Head Office</option>
              <option *ngFor="let headOffice of masterHeadOffice" [value]="headOffice.headOfficeId">
                {{headOffice.headOfficeName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Zone Name</label>
            <select class="form-select" (change)="getRegionByZoneId($event)" [(ngModel)]="searchZoneId">
              <option selected disabled value=null>Select Zone</option>
              <option *ngFor="let zone of masterZone" [value]="zone.zoneId">
                {{zone.zoneName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Region Name</label>
            <select class="form-select" [(ngModel)]="searchRegion">
              <option selected disabled value=null>Select Region</option>
              <option *ngFor="let region of masterRegion" [value]="region.regionId">
                {{region.regionName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Depot Name</label>
            <input type="text" class="form-control" [(ngModel)]="searchDepot" placeholder="Enter Depot Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Select Status</label>
            <select class="form-select" [(ngModel)]="selectedStatus">
              <option selected disabled value="">Select Status</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-12">
          <button class="btn btn-primary" (click)="searchBtn()">Search</button>&nbsp;&nbsp;
          <button class="btn btn-success" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>

    <div class="col-md-12 p-3" style="overflow: auto; margin-bottom: 50px;">
      <table class="table table-bordered text-center">
        <thead class="thead-light" style="background: #9BADC5;">
          <tr>
            <th style="width: 10%;">S.No</th>
            <th>Head Office Name</th>
            <th>Zone Name</th>
            <th>Region Name</th>
            <th>Depot Name</th>
            <th style="width: 12%;">Status</th>
            <th style="width: 12%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of allDepot | paginate: {itemsPerPage: pageSize,
                                                              currentPage: currentPageNo,
                                                              totalItems: totalRecords };let i= index">
            <td>{{(currentPageNo-1)*10 + i+1}}</td>
            <td>{{data.headOfficeName}}</td>
            <td>{{data.zoneName}}</td>
            <td>{{data.regionName}}</td>
            <td>{{data.depotName}}</td>
            <td>{{data.activeFlag ? 'Active' : 'Inactive'}}</td>
            <td>
              <button (click)="edit(data.depotId)" class="btn btn-sm btn-primary">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container text-center">
        <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
      </div>
    </div>

  </div>
</div>

<div [style.display]="showModal" class="w3-modal w3-animate-zoom">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-blue">
      <span (click)="closeModal()" class="w3-button w3-large w3-display-topright">×</span>
      <h3>Add New Depot</h3>
    </header>
    <br>
    <div class="w3-container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Head Office Name</label>
            <select class="form-select" (change)="getZoneByHeadOfficeId($event)" [(ngModel)]="searchHeadOffice">
              <option selected disabled value=null>Select Head Office</option>
              <option *ngFor="let headOffice of masterHeadOffice" [value]="headOffice.headOfficeId">
                {{headOffice.headOfficeName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Zone Name</label>
            <select class="form-select" (change)="getRegionByZoneId($event)" [(ngModel)]="searchZoneId">
              <option selected disabled value=null>Select Zone</option>
              <option *ngFor="let zone of masterZone" [value]="zone.zoneId">
                {{zone.zoneName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Region Name</label>
            <select class="form-select" [(ngModel)]="searchRegion">
              <option selected disabled value=null>Select Region</option>
              <option *ngFor="let region of masterRegion" [value]="region.regionId">
                {{region.regionName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Depot Name</label>
            <input type="text" class="form-control" [(ngModel)]="searchDepot" placeholder="Enter Depot Name">
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center mt-4 mb-4">
        <div class="col-12">
          <button class="btn btn-primary" (click)="createDepot()">Create Depot</button>&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div [style.display]="editModal" class="w3-modal w3-animate-zoom">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-blue">
      <span (click)="closeModal()" class="w3-button w3-large w3-display-topright">×</span>
      <h3>Update Zone</h3>
    </header>
    <br>
    <div class="w3-container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Head Office Name</label>
            <select class="form-select" (change)="getZoneByHeadOfficeId($event)" [(ngModel)]="searchHeadOffice">
              <option selected disabled value=null>Select Head Office</option>
              <option *ngFor="let headOffice of masterHeadOffice" [value]="headOffice.headOfficeId">
                {{headOffice.headOfficeName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Zone Name</label>
            <select class="form-select" (change)="getRegionByZoneId($event)" [(ngModel)]="searchZoneId">
              <option selected disabled value=null>Select Zone</option>
              <option *ngFor="let zone of masterZone" [value]="zone.zoneId">
                {{zone.zoneName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Region Name</label>
            <select class="form-select" [(ngModel)]="searchRegion">
              <option selected disabled value=null>Select Region</option>
              <option *ngFor="let region of masterRegion" [value]="region.regionId">
                {{region.regionName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Depot Name</label>
            <input type="text" class="form-control" [(ngModel)]="searchDepot" placeholder="Enter Depot Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fw-bold">Select Status</label>
            <select class="form-select" [(ngModel)]="selectedStatus">
              <option selected disabled value="">Select Status</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center mt-4 mb-4">
        <div class="col-12">
          <button class="btn btn-primary" (click)="updateDepot()">Update Depot</button>&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
